.header{
    display: flex;
    justify-content: space-between;
    background: #27272e;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
}
body{
    margin: 0;
    background: #e6e6e6;
}
.body{
    margin-top: 20px;
}
.logo{
    color: aliceblue;
    font-size: 25px;
    margin-left: 20px;
    flex: 1;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1.5;
    margin-left: 20px;
}
.main{
    height: 500px;
    width: 100%;
    background: url("main.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-title{
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
.title{
    color: aliceblue;
}
.title-1{
    margin-bottom: 20px;
    font-size: 25px;
}
.title-2{
    font-size: 30px;
    background-color: red;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}
.searcher{
    display: flex;
    align-items: center;
}
.ico{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
.fields{
    display: flex;
    flex-direction: column;
}
.field{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 150px;
}
.about-field{
    font-size: 20px;
}
.price-field{
    color: red;
    font-size: 15px;
}
.clicks{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}
.click{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
}
.click:hover{
    background: #699db3;
}
.click2{
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
.table{
    margin-top: 20px;
}
td{
    padding: 10px;
}
.cat-body{
    display: flex;
    justify-content: center;
}
.cat-bar{
    background-color: #27272e;
    border-radius: 30px;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cat-link{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}
.gr1{
    border-radius: 30px 0px 0px 30px;
}
.gr2 {
    border-radius: 0px 30px 30px 0px;
}
.active{
    background-color: coral;
}
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
}
.p-body{
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    border-radius: 3px;
}
.p-img{
    height: 400px;
    width: 300px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
.btn-span{
    color: aliceblue;
    background-color: cornflowerblue;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.p-left{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    flex: 1;
    border-right: 2px solid green;
    border-left: 2px solid green;
}
.title-item{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    font-size: 20px;
}
.p-price{
    font-size: 20px;
    color: red;
}
.cart-items{
    background-color: red;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
    margin-left: 5px;
    color: aliceblue;
    font-size: 20px;
}
.cart-div{
    display: flex;
    align-items: center;
}
.exit{
    text-align: end;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.seller{
    font-size: 20px;
}
.sklad-span{
    color: aliceblue;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.sklad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-body-p{
    margin-top: 100px;
}
.nav-ico{
    height: 40px;
    border-radius: 3px;
}
.nav-ico:hover{
    background-color: orange;
}
.block-p{
    margin-top: 10px;
}
.p-right{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.p-but-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 185px;
    padding-right: 10px;
    padding-left: 10px;
}
.p-desc{
    display: flex;
}
.selected-item{
    background-color: greenyellow;
}
.social{
    height: 50px;
}
.footer{
    position: relative;
    bottom: 0px;
    height: 70px;
    background-color: #27272e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}